# Dotfiles
.ipynb_checkpoints/
.DS_Store
*.swp

# Ignore pycache from custom module
custom/__pycache__/

# Folder to house miscellaneous dev work
Misc/

# Solutions always suffixed with 'solution'
**/*solution.ipynb

# Latex extensions
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
