[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rise = "*"
flake8 = "*"
jupyter-tabnine = "*"
nbdime = "*"

[packages]
jupyter = "*"
jupyterlab = "*"
pandas = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
ipywidgets = ">=7.2"
snowflake-connector-python = "*"
keyring = "*"
statsmodels = "*"

[requires]
python_version = "3.7"
